<app-header></app-header>

<section class="about-section">
  <div class="container">
    <div class="content-column">
      <div class="inner-column">
        <div class="sec-title">
          <span class="title">About Pro Equipment LLC</span>
          <h2>Premium Industrial Laboratory Equipment & Scientific Solutions</h2>
        </div>

        <div class="text">
          Pro Equipment LLC specializes in supplying high-quality industrial laboratory and scientific equipment for
          research,
          pharmaceutical, clinical, and industrial laboratories worldwide.
        </div>

        <ul class="list-style-one">
          <li>Premium autoclaves, centrifuges, and analytical instruments</li>
          <li>Advanced biosafety cabinets, fume hoods, and containment systems</li>
          <li>Cold storage and cryogenic solutions for clinical and research use</li>
          <li>Expert guidance on equipment selection and laboratory setup</li>
          <li>Global sourcing, delivery, and long-term support services</li>
        </ul>

        <div class="btn-box text-center">
          <a [routerLink]="['/contact']" class="theme-btn">Contact</a>
        </div>

        <!-- <div class="btn-box">
          <a href="Global_Suppliers.pdf" target="_blank" class="theme-btn">
            Know More About Pro Equipment LLC
          </a>
        </div> -->
      </div>
    </div>

    <!-- Right Image Column -->
    <div class="image-column">
      <img rel="preload" src="/supply-chain-management.avif" alt="Mass Spectrometer Services">
    </div>
  </div>
</section>

<app-footer></app-footer>