<app-header></app-header>

<body>

    <section>

        <div class="section-header">
            <div class="container">
                <h2>Contact Us</h2>
                <p>Reach out to
                    us to discuss how we can collaborate to drive
                    growth, innovation, and sustainability in your business.</p>

            </div>
        </div>

        <div class="container">
            <div class="contact-info">
                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <img rel="preload" src="phone-icon.jpg" alt="Phone Icon">
                    </div>
                    <div class="contact-info-content">
                        <h4>Phone</h4>
                        <p>Wil be available soon</p>
                    </div>
                </div>

                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <img rel="preload" src="email-icon.jpg" alt="Email Icon">
                    </div>
                    <div class="contact-info-content">
                        <h4>Email</h4>
                        <p>Wil be available soon</p>
                    </div>
                </div>

            </div>
        </div>


    </section>




</body>

<app-footer></app-footer>