<app-header></app-header>

<body>

  <section>

    <div class="section-header">
      <div class="container">
        <h2>Contact Pro Equipment LLC</h2>
        <p>
          Get in touch with our team to discuss your laboratory equipment needs,
          technical requirements, or partnership opportunities.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="contact-info">

        <div class="contact-info-item">
          <div class="contact-info-icon">
            <img rel="preload" src="phone-icon.jpg" alt="Phone Icon">
          </div>
          <div class="contact-info-content">
            <h4>Phone</h4>
            <p>+1 646 918 5908</p>
          </div>
        </div>

        <div class="contact-info-item">
          <div class="contact-info-icon">
            <img rel="preload" src="email-icon.jpg" alt="Email Icon">
          </div>
          <div class="contact-info-content">
            <h4>Email</h4>
            <p>Wil be available soon</p>
          </div>
        </div>

        <div class="contact-info-item">
          <div class="contact-info-icon">
            <img rel="preload" src="location-icon.jpg" alt="Location Icon">
          </div>
          <div class="contact-info-content">
            <h4>Address</h4>
            <p>
              300 Spectrum Center Dr, Suite 400<br>
              Irvine, CA 92612, USA
            </p>
          </div>
        </div>

      </div>
    </div>



  </section>




</body>

<app-footer></app-footer>