/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  /* 🔄 allows content to grow */
  width: 100%;
  overflow-x: hidden;
  /* 🧹 hide horizontal scroll */
  font-family: 'Inter', sans-serif;
}